DATABASE_URL="postgresql://postgres:password@localhost:5432/cleanthestreets_dev"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-cloudinary-api-key"
CLOUDINARY_API_SECRET="your-cloudinary-api-secret"
CLOUDINARY_UPLOAD_FOLDER="cleanthestreets/reports"
