/* This is the tailwindcss call, it removes the default styling
for some elements */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*--background: #ffffff; */
  /*--foreground: #171717; */
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--background: #0a0a0a; */
    /*--foreground: #ededed;*/
    background-color: white;
  }
}

body {
  /*color: var(--foreground); */
  /*background: var(--background); */
  /*font-family: Arial, Helvetica, sans-serif; committing changes */
  background-color: white;
}

.home-intro {
  background-color: black;
  color: white;
}
