/* This is the tailwindcss call, it removes the default styling
for some elements */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*--background: #ffffff; */
  /*--foreground: #171717; */
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--background: #0a0a0a; */
    /*--foreground: #ededed;*/
    background-color: white;
  }
}

body {
  /*color: var(--foreground); */
  /*background: var(--background); */
  /*font-family: Arial, Helvetica, sans-serif; */
  background-color: white;
}

.home-intro {
  background-color: black;
  color: white;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
